<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <h6 class="footer-title" style="font-size: 14px;">&copy; Hospimed 2020. All rights reserved</h6>
          <ul>
            <!-- {% assign footermenu = site.data.menus.footer | sort: 'weight'  %}
            {% for item in footermenu %}
            <li class="{% if item.url == page.url %}active{% endif %}">
              <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
            </li> -->
            <!-- {% endfor %} -->
            <li class="d-inline-flex align-items-center" style="font-size: 14px;">
              <svg class="flex-grow-1" style="width: 18px; margin-right: 4px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
                Mesologgiou 6-8, Dafni, 17234
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>